/* noto-sans-sc-chinese-simplified-wght-normal */
@font-face {
  font-family: 'Noto Sans SC Variable';
  font-style: normal;
  font-display: swap;
  font-weight: 350 700;
  src: url(@fontsource-variable/noto-sans-sc/files/noto-sans-sc-chinese-simplified-wght-normal.woff2) format('woff2-variations');
}