.audit_sub_header {
  font-size: 1rem;
  font-weight: 400;
  transform: translateY(3px);
  position: sticky;
  @apply border-b border-b-neutral-400 dark:border-b-neutral-600
  bg-neutral-700/90 dark:bg-neutral-300/90 text-neutral-50 dark:text-neutral-950
  pl-1;
}

.s_h2.audit_sub_header {
  top: 2.5rem;
  z-index: 9;
}
.s_h3.audit_sub_header {
  top: 4rem;
  z-index: 8;
}
.s_h4.audit_sub_header {
  top: 5.5rem;
  z-index: 7;
}

.s_h5.audit_sub_header {
  top: 7rem;
  z-index: 6;
}

@media screen and (min-width: 1600px) {
  .audit_sub_header span {
    display: block;
    position: relative;
  }
}
