.table_1 {
  @apply w-full table-fixed ring ring-neutral-300/30 dark:ring-neutral-700/30 bg-neutral-50/50 dark:bg-neutral-950/50;
  & table {
    @apply bg-neutral-100/40 dark:bg-neutral-900/40;
  }
}

.table_1 td,
.table_1 th {
  @apply border border-neutral-200 dark:border-neutral-800 px-2 py-1;
}

.table_1 th {
  @apply font-normal;
}

.table_1 thead th {
  @apply bg-neutral-100/50 dark:bg-neutral-900/50;
}

.table_1 tbody th {
  @apply text-left;
}

.table_1 caption {
  font-weight: 450;
  @apply text-left px-1 py-2 border-t border-l border-r  border-t-neutral-400 dark:border-t-neutral-600 border-l-neutral-200 dark:border-l-neutral-800 border-r-neutral-200 dark:border-r-neutral-800 bg-neutral-100/30 dark:bg-neutral-900/30;
}

.anchor_link {
  @apply hidden md:inline-block md:absolute opacity-0 -left-8 top-0 text-neutral-800 dark:text-neutral-200;
}

.anchor_link_frame {
  position: relative;
}

.anchor_link_frame:hover .anchor_link {
  opacity: 1;
}

/* buttons */

.b_1 {
  &.ri {
    @apply ring ring-neutral-400 dark:ring-neutral-600;
  }

  @apply rounded outline-0
   bg-neutral-50/20 dark:bg-neutral-950/20
   text-neutral-950 dark:text-neutral-50
   hover:bg-neutral-200 hover:dark:bg-neutral-800
   hover:ring-neutral-700 hover:dark:ring-neutral-300
   focus:ring-2 focus:ring-neutral-900 focus:dark:ring-neutral-100;

  &.reg {
    @apply font-normal min-h-9 min-w-11 px-2;
  }

  &.active {
    @apply bg-neutral-900/80 dark:bg-neutral-100/80
  ring-neutral-600 dark:ring-neutral-400 
  text-neutral-50 dark:text-neutral-950
  hover:bg-neutral-800 hover:dark:bg-neutral-200
  disabled:hover:bg-neutral-900/80 disabled:dark:hover:bg-neutral-100/80 disabled:cursor-auto;
  }
}

.hp-container {
  position: absolute;
  left: -5000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}


