@import './base.css';
@import './fonts.css';
@import './generics.css';
@import './navMenu.css';
@import './pages.css';
@import './sidebar.css';
@import './audit_report.css';
@import './loader.css';
@import './contrast.css';